html {
  height: 100%
  max-height: 100%;
  font-size: 62.5%;
}

#black{
    float: left;
    background-color: black;
    width: 50%;
    height: 100%;
    color: white;
}

#white{
    float: right;
    background-color: white;
    width: 50%;
    height: 100%;
    color: black;
}

.img1 {

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  width: auto;
  clip: rect(0px,4000px,650px,000px);
  background-image: url('/bronx-167913.jpg');
 }

.contrast
{
  -webkit-filter: contrast(180%);
  filter: contrast(180%);
}

p {
  position: absolute;
  width:auto;
  height:auto;
  font-size: medium;
  color: black;
  left:0px;
  top:650px;
}
#ti h1{
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.titlepage {
    margin: 100px 0 100px 0;
    font-size: 500%;
    letter-spacing: -1px;
    font-weight: 1000;
    font-family: "Times New Roman", Times, serif;
    color: #fff;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 75%);
}
