
 .text{
    position: absolute;
    top: -1%;
    left: 15%;
    color: white;
    font-size: 7vw;
    font-family: Times New Roman;
    font-weight: 500;
    width: 85%;
}

.header{
  height = 100vh;
}

nav{
  z-index: 200;
}
.navbar-style{
  box-shadow: 0 5px 10px #efefef;
  text-transform: uppercase;
}
.headshot{
  height: 100px;
  padding: 2px 10px;
}
.icon-bar{
  background: darkorange;
}
li a{
  color: #333;
}

.centered {
position: absolute;
top: 24%;
left: 23%;
max-width: 100%;
height: auto;
}

.centered-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.clipper{
  clip: rect(0px,0px,5000px,0px)
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
@media (max-width: 450px) {
  .text{
     position: absolute;
     top: -1%;
     left: 18%;
     color: white;
     font-size: 6vw;
     font-family: Times New Roman;
     font-weight: 500;
     width: 85%;
     white-space: nowrap;
  }
  .navbar-nav .show .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .header{
   height = 100vh;
  }

  nav{
   z-index: 200;
  }
  .navbar-style{
   box-shadow: 0 5px 10px #efefef;
   text-transform: uppercase;
  }
  .headshot{
   height: 100px;
   padding: 2px 10px;
  }
  .icon-bar{
   background: darkorange;
  }
  li a{
   color: #333;
  }

  .centered {
  position: absolute;
  top: 24%;
  left: 23%;
  max-width: 100%;
  height: auto;
  }

  .centered-responsive {
     display: block;
     max-width: 100%;
     height: auto;
  }

  .clipper{
   clip: rect(0px,0px,5000px,0px)
  }

  #map {
    width: 100%;
    height: 200px;
    background-color: grey;
  }
  }
